<html lang="de">

  <head >
    <title>{{'Museumsverwaltung' | translate }}</title>
    
  </head>

  <body>
  
  <div id="box">
			<div class="box-top">
			{{'countB' | translate }}
			<div class="box-panel">{{i}}</div>
			</div>
		</div>	


   <div id="header" ng-controller="orgCtrl">
	<div id="classler" class="logo"><a href="/#/museumsverwaltung">Museumsverwaltungs-<span>Software</span></a> </div>	
	<a href="/#/" ><img id="logout"  src="/www/img/logout.png"/ ng-click="logout()"></a>	
	<div id="headerOrg" >
		<p style=" font-size: 12px;"> {{'angAls'|translate}} <div style="font-size: 18px; line-height: 2px;">{{org}}</div> </p>
	</div>
	</div>

    <div id="container">
      <div class="sidebar" ng-controller="LangCtrl" >
			<ul id="nav">
				<li ng-show="!showLng"><a href="/#/museumsverwaltung">{{'exponate' | translate }}</a></li>
				<li ng-show="!showLng"><a href="/#/getbeacons" class="selected">{{'lokalisierung' | translate }}</a></li>
				<li ng-show="!showLng"><a href="/#/custo" >Audioguide- App</a></li>
				<li ng-show="!showLng"><a href="/#/hilfe" >{{'hilfe' | translate }}</a></li>
				<li ng-show="!showLng" ng-click="showLng=!showLng"><a>Sprachen / Languages</a></li>
				<li ng-show="showLng"><a ng-click="changeLang('EN');showLng=!showLng">{{'englisch' | translate }}</a></li>
				<li ng-show="showLng"><a ng-click="changeLang('DE');showLng=!showLng">{{'german' | translate }}</a></li>
			</ul>
		</div>
<!--onclick="window.location='https://cloud.estimote.com/'" -->

      <div class="content" >
	  
	  
        <h1>Beacons</h1>
       <p> {{'descB'|translate}} <span><a href="http://estimote.com/#jump-to-products"> {{'descBe'|translate}}</a> </span> </p>
	 
       <table class="table standard_p" style="margin-top: 50px; width: 100%;">
          <thead>
            <tr><th style="width: 70px;"></th>
				<th style="width: 20%;">{{'name'|translate}}</th>
				<th style="width: 10%;">{{'major'|translate}}</th>
				<th style="width: 10%;">{{'minor'|translate}}</th>
				<th style="width: 10%;">{{'sendestarke'|translate}}</th>
                <th style="width: 15%;">{{'sendeinterval'|translate}}</th>
                <th style="width: 15%;">{{'battery'|translate}}</th>
				<th style="width: 10%;">{{'color'|translate}}</th>
            </tr>
          </thead>


          <tbody>
			<tr ng-repeat="beacon in data track by $index">
				<td class="item"><img style=" max-height: 80px;" ng-src='{{beacon.img}}' /></td>
				<td>{{beacon.shadow.name}}</td>
				<td ng-repeat="ibeacon in beacon.settings.advertisers.ibeacon">{{ibeacon.major}}</td>
				<td ng-repeat="ibeacon in beacon.settings.advertisers.ibeacon">{{ibeacon.minor}}</td>
				<td ng-repeat="ibeacon in beacon.settings.advertisers.ibeacon">{{ibeacon.power}}</td>
				<td ng-repeat="ibeacon in beacon.settings.advertisers.ibeacon">{{ibeacon.interval}}</td>
				<td>{{beacon.status_report.estimated_battery_lifetime}}</td>
				<td>{{beacon.color}}</td>
				<td><button class="btn btn-default"  ng-click="open(beacon)" onclick="window.scrollTo(0,0);">{{'change'|translate}}</button></td>
            
			</tr>
          </tbody>
        </table>
		<button class="btn btn-daufalt full" onclick="window.scrollTo(0,0)"> {{'toTop'|translate}}</button>

      </div>

    </div>

  </body>

</html>
