<html ng-app="myApp">

  <head lang="de">
    <title>{{'Museumsverwaltung' | translate }}</title>

  </head>

  <body>



    <div id="container">
     <div class="sidebar" ng-controller="LangCtrl" >
			<ul id="nav">
				<li ng-show="!showLng"><a href="/#/museumsverwaltung">{{'exponate' | translate }}</a></li>
				<li ng-show="!showLng"><a href="/#/getbeacons">{{'lokalisierung' | translate }}</a></li>
				<li ng-show="!showLng"><a href="/#/custo" class="selected">Audioguide- App</a></li>
				<li ng-show="!showLng"><a href="/#/hilfe" >{{'hilfe' | translate }}</a></li>
				<li ng-show="!showLng&&showDashboard"><a href="/#/dashboard" >Dashboard</a></li>
				<li ng-show="!showLng" ng-click="showLng=!showLng"><a>Sprachen / Languages</a></li>
				<li ng-show="showLng"><a ng-click="changeLang('EN');showLng=!showLng">{{'englisch' | translate }}</a></li>
				<li ng-show="showLng"><a ng-click="changeLang('DE');showLng=!showLng">{{'german' | translate }}</a></li>
			</ul>
		</div>
      <div class="content">
        <h1>Audioguide</h1>
        <p>{{'custoDesc' | translate }}</p>

		
		
		<div class="area" style="min-heigth: 500px;">
          <h2 id="custo">{{'allgAng' | translate }}</h2> 
			<p style="float: left;">{{'aboutUs' | translate }} </p>
		  
		  
		 
		 	<div id="phone">
				<img src="https://dl.dropboxusercontent.com/s/tm0tcq5i8uip0dd/iPhone-5.png?dl=0" id="phoneImg">
				<div id="headerPhone"><i class="fa fa-bars fa-2x" aria-hidden="true" style="color: white; float: left; margin-left: 9px; margin-top: 6px;"></i>
					<p style="color: white; line-height: 44px;">{{'ueberUns' | translate }} </p>					
				</div>
				
				<div id="scrollingContent">	
					<h1 style="color: black;">{{'welcome' | translate }}  <span id="namePhone">{{museumsname}}</span></h1>
					<p id="helperInPhone" style="display:block;font-size: 15px;"/>				
				</div>
				
				<div id="footerPhone">
					<button class="button-large footer-button left" ng-click="resizeTextLeft(1)" style="font-size: 18px;"> +A </button>
					<button class="button-large footer-button right" ng-click="resizeTextRight(-1)" style="font-size: 13px;"> -A </button>
				</div>
				
				
			</div>
			
			
			
			
			<div class="nextToPhone">
			<table class="table" id="showerText" ng-show="showText">
				<tr>
					<td><p  editable-text="museumsname" onaftersave="uploadName($data)" e-form="textBtnForm" style="display: inline;" ng-mouseover="addHoverPhone('namePhone')" ng-mouseleave="removeHoverPhone('namePhone')"> {{ museumsname || "empty" }}</p></td>
					<td><button class="btn btn-primary" style="display: inline-block" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">{{'change' | translate }}</button></td>
				<tr>
				</tr>				
					<td> <p id="helper" style="display:block;font-size: 15px;" ng-mouseover="addHoverPhone('phone')" ng-mouseleave="removeHoverPhone('scrollingContent')"/></td>
					<td> <button class="btn btn-primary" ng-click="showText=false" id="showHelper">{{'change' | translate }}</button></td>
				</tr>
			</table>
			
			
			
			
			<div id="editText" ng-show="!showText">
				<trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content" ng-model="htmlcontent" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Write something.."></trix-editor>
				<button class="btn btn-default" ng-click="htmlcontent=de; clickedLng='de'"> {{'german' | translate }}</button> 
				<button class="btn btn-default" ng-click="htmlcontent=en; clickedLng='en'"> {{'englisch' | translate }}</button> <br><br>
				<button class="btn btn-primary" ng-click="showText=true; uploadText(htmlcontent)" onclick="window.scrollTo(0,0);"> {{'speichern' | translate }}</button> 	
			</div>
		</div>
			</div>
		<br><br>
		


        

		
		
		
		
		
		

        <div id="area1" data-tap-disabled="true">
          <h2 id="custo">{{'map' | translate }}</h2>

            <leaflet defaults="defaults" legend="legend" layers="layers" maxBounds="maxBounds" markers="markers" event-broadcast="events" id="leafletMap"></leaflet>
            <br>
          <p>{{'erkl'|translate}} </p>
		  <table class="table" style="width: 95%; margin: 0 auto;font-size: 20px; ">
			<thead>
				<tr style="font-size: 22px; font-style: italic;">
					<td>{{'bemanu'|translate}} </td>
					<td>{{'name'|translate}}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="markersHelper.name" placeholder="Message"></td>
					<td><input class="form-control" ng-model="markersHelper.message" placeholder="Name"></td>
					<td><button style="width: 150px;" class="btn btn-default" ng-click="update()">{{'speichern'|translate}}</button></td>
					<!--<button style="width: 150px;" class="btn btn-danger" ng-click="deselect()">Leeren</button></td>-->
				</tr>
				<tr ng-repeat="ma in data|orderBy: predicate='name'|filter: greaterThan('name', 0)"> 
					<td stlye="width: 30%;" ng-mouseover="addHover(ma.name)" ng-mouseleave="removeHover(ma.name)">{{ma.name}}</td>
					<td stlye="width: 30%;" ng-mouseover="addHover(ma.name)" ng-mouseleave="removeHover(ma.name)">{{ma.message}}</td>
					<td><button style="width: 150px;" class="btn btn-default" ng-click="changeSingleMarker(ma.message)">{{'change'|translate}}</button>
					<td><button style="width: 150px;" class="btn btn-danger" ng-click="remove(ma.message)">{{'deletee'|translate}}</button></td>
				</tr>
			</tbody> 
		 </table>
		  <br>

		  <button class="btn btn-default btn-file" ng-click="deleteMarkers()">{{'deletemarkers'|translate}}</button>
		  <button class="btn btn-default btn-file" ng-click="archiveMarkerJSON()">{{'archive'|translate}}</button>
		  
		 <div ng-repeat="receivedMarkers in h | myFilter track by $index" id="godzilla" style="display:none;">{{receivedMarkers.blup}}</div>

			<span class="btn btn-default" id="toggler" uib-dropdown>
    <a uib-dropdown-toggle style="color: #424242;">{{'getarchive'|translate}} <span class="caret"></span></a>
    <ul uib-dropdown-menu>
        <li id="markers" ng-repeat="receivedMarkers in h track by $index" ng-click="loadMarkers(receivedMarkers._id, $index)">{{receivedMarkers.name}}</li>
    </ul>
</span>




			
			
		  
		  
          <form id="myFormMap" action="" method="post" enctype="multipart/form-data" >
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
             <input type="file" name='recfile' placeholder="Select file" style=""/>
            </label>	
	
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
        <input type="submit" name="submit" style="display: none;"> {{'speichern'|translate}}
     </label>
</form>
          
        </div>
		
		
				<div id="area">
          <h2 id="custo">{{'themeg' | translate }} </h2> 
		  
		  <table class="table" style="width: 80%; margin: 0 auto;font-size: 20px; ">
			<thead>
				<tr style="font-size: 22px; font-style: italic;">
					<td>{{'themegn' | translate }}</td>
					<td>{{'position' | translate }}</td>
					<td>{{'name' | translate }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="thema.nummer" placeholder="Nummer"></td>
					<td><select ng-model="thema.pos" class="styled-select semi-square wide">					
					<option ng-repeat="ma in maData | orderBy:'name'" value="{{ma.name}}"> {{ma.name}} - {{ma.message}}</option>
				</select>				
					
					
					
					</td>
					<td><input class="form-control" ng-model="thema.name" placeholder="Name"></td>
					<td><button id="newThemeButton" style="width: 150px;" class="btn btn-default" ng-click="saveNewTheme()">{{'newOne' | translate }}</button></td>
					<td><button id="SaveCurrentThemeButton" style="width: 150px; display: none;" class="btn btn-default" ng-click="updateThema(thema._id)">{{'hinzu' | translate }}</button></td>
					<!--<button style="width: 150px;" class="btn btn-danger" ng-click="deselect()">Leeren</button></td>-->
				</tr>
				<tr ng-repeat="thema in themaDaten|orderBy: predicate='nummer'"> 
					<td stlye="width: 30%;">{{thema.nummer}}</td>
					<td stlye="width: 30%;">{{thema.pos}}</td>
					<td stlye="width: 30%;">{{thema.name}}</td>
					<td><button style="width: 150px;" class="btn btn-default" ng-click="changeThema(thema.nummer)">{{'change' | translate }}</button></td>
					<td><button style="width: 150px;" class="btn btn-danger" ng-click="removeThema(thema.nummer)">{{'deletee' | translate }}</button></td>
				</tr>
			</tbody> 
		 </table>
		  
		  
        </div>
		
		<div id="area">
          <h2 id="custo">Logo </h2><img style="max-width: 150px;" ng-src='{{logo}}' />
          <br>
		  
		  
       

<form id="myFormLogo" action="" method="post" enctype="multipart/form-data" >
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
             <input type="file" name='recfile' placeholder="Select file" style=""/>
            </label>	
	
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
        <input type="submit" name="submit" style="display: none;"> {{'speichern'|translate}}
     </label>
</form>
		  
		  
          </label>
        </div>
		
		
		
		
		
		
		
		
		
		
		
				<div id="area" style="margin: 0 auto:">
          <h2 id="custo">{{'einstl'|translate}} </h2>
          <br>
		  
		  
      <table class="table" style="width: 50%; margin: 0 auto;font-size: 16px; ">
		<tr> <td><p>{{'anspPers'|translate}}</p></td><td> <p editable-text="contactPerson" onaftersave="uploadContact($data)">{{ contactPerson || "empty" }}</p></td> </tr> 
		<tr> <td><p>{{'emailAns'|translate}}</p></td><td> <p editable-text="contactPersonMail" onaftersave="uploadMail($data)">{{ contactPersonMail || "empty" }}</p></td> </tr> 
		<tr> <td><p>{{'telAns'|translate}}</p></td><td> <p editable-text="contactPersonTel" onaftersave="uploadTel($data)">{{ contactPersonTel || "empty" }}</p></td> </tr> 
		
	   </table>
		  
		  
          </label>
        </div>
		
		
		
		
		
		
		
		
<button class="btn btn-daufalt full" onclick="window.scrollTo(0,0)"> {{'toTop'|translate}}</button>

      </div>

    </div>
    <div id="header" ng-controller="orgCtrl">
	<div id="classler" class="logo"><a href="/#/museumsverwaltung">Museumsverwaltungs-<span>Software</span></a> </div>	
	<a href="/#/" ><img id="logout"  src="/www/img/logout.png"/ ng-click="logout()"></a>	
	<div id="headerOrg" >
		<p style=" font-size: 12px;"> {{'angAls'|translate}} <div style="font-size: 18px; line-height: 2px;">{{org}}</div> </p>
	</div>
	</div>
  </body>

</html>
