<html ng-app="myApp">

  <head lang="de">
    <title>Museumsverwaltung</title>

  </head>

  <body>



    <div id="container">
      <div class="sidebar">
        <ul id="nav">
          <li><a href="/#/museumsverwaltung">Home</a></li>
          <li><a href="/#/getbeacons">Beacons</a></li>
          <li><a href="/#/custo" class="selected">Customizing</a></li>
          <li><a href="/#/hilfe">Hilfe</a></li>

        </ul>
      </div>
      <div class="content">
        <h1>Customizing</h1>
        <p>Hier können Sie die den Audioguide nach Ihren Bedürfnissen anpassen.</p>

		
		
		<div id="area">
          <h2 id="custo">Allgemeine Angaben: </h2> 
		  
		  <div style="max-width: 300px;margin: 0 auto;">
		 <div ng-controller="custoCtrl"><label style="width: 300px;"> Aktueller Name: <br><input id="inputName" ng-repeat="mn in datalicous" type="text" class="form-control" placeholder="{{museumsname}}" disabled=true  />
		</label>
		  
              <label style="margin-top: 30px; width: 300px;">Neuer Name:<input type="text" class="form-control" ng-model="newName"/> </label>
			  <button class="btn btn-default" ng-click="uploadName()"> Speichern</button>
		  
		  </div></div><br><br>
		  
		  
		  
		
		  
		  
		  <label>Über uns- Text </label>
        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
        <br>
        <button class="btn btn-default" ng-click="htmlcontent=de; clickedLng='de'"> Deutsch</button> 
        <button class="btn btn-default" ng-click="htmlcontent=en; clickedLng='en'"> Englisch</button> <br><br>
		<button class="btn btn-default" ng-click="uploadText(htmlcontent)"> Speichern</button> 
		
		
		  
		  
        </div>

        


        <div id="area1" data-tap-disabled="true">
          <h2 id="custo">Aktuelle Karte:</h2>

            <leaflet defaults="defaults" legend="legend" layers="layers" maxBounds="maxBounds" markers="markers" event-broadcast="events" id="leafletMap"></leaflet>
            <br>
          <p> Fahren Sie mit der Maustaste über die einzelnen Positionen um den aktuellen Standort auf der Karte anzuzeigen</p>
		  <table class="table" style="width: 80%; margin: 0 auto;font-size: 20px; ">
			<thead>
				<tr style="font-size: 22px; font-style: italic;">
					<td>Beacon-Major Nummer</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="markersHelper.name" placeholder="Message"></td>
					<td><input class="form-control" ng-model="markersHelper.message" placeholder="Name"></td>
					<td><button style="width: 150px;" class="btn btn-default" ng-click="update()">Speichern</button>
					<button style="width: 150px;" class="btn btn-danger" ng-click="deselect()">Leeren</button></td>
				</tr>
				<tr ng-repeat="ma in data|orderBy: predicate='name'|filter: greaterThan('name', 0)"> 
					<td stlye="width: 30%;" ng-mouseover="addHover(ma.name)" ng-mouseleave="removeHover(ma.name)">{{ma.name}}</td>
					<td stlye="width: 30%;" ng-mouseover="addHover(ma.name)" ng-mouseleave="removeHover(ma.name)">{{ma.message}}</td>
					<td><button style="width: 150px;" class="btn btn-default" ng-click="changeSingleMarker(ma.message)">Ändern</button>
					<button style="width: 150px;" class="btn btn-danger" ng-click="remove(ma.message)">Löschen</button></td>
				</tr>
			</tbody> 
		 </table>
		  <br>

		  <button class="btn btn-default btn-file" ng-click="deleteMarkers()">Alle Standorte löschen</button>
		  <button class="btn btn-default btn-file" ng-click="archiveMarkerJSON()">Standorte Archivieren</button>
		  
		 <div ng-repeat="receivedMarkers in h | myFilter track by $index" id="godzilla" style="display:none;">{{receivedMarkers.blup}}</div>

			<span class="btn btn-default" id="toggler" uib-dropdown>
    <a uib-dropdown-toggle style="color: #424242;">archivierte Standorte <span class="caret"></span></a>
    <ul uib-dropdown-menu>
        <li id="markers" ng-repeat="receivedMarkers in h track by $index" ng-click="loadMarkers(receivedMarkers._id, $index)">{{receivedMarkers.name}}</li>
    </ul>
</span>




			
			
		  
		  
          <form id="myFormMap" action="" method="post" enctype="multipart/form-data" >
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
             <input type="file" name='recfile' placeholder="Select file" style=""/>
            </label>	
	
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
        <input type="submit" name="submit" style="display: none;"> Speichern
     </label>
</form>
          
        </div>
		
		<div id="area">
          <h2 id="custo">Aktuelles Logo: </h2><img style="max-width: 150px;" ng-src='{{logo}}' />
          <br>
		  
		  
       

<form id="myFormLogo" action="" method="post" enctype="multipart/form-data" >
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
             <input type="file" name='recfile' placeholder="Select file" style=""/>
            </label>	
	
     <label class="btn btn-default btn-file" style="margin-top: 30px;">
        <input type="submit" name="submit" style="display: none;"> Speichern
     </label>
</form>
		  
		  
          </label>
        </div>


      </div>

    </div>
    <div id="header">
      <div class="logo"><a href="/#/museumsverwaltung">Museumsverwaltung-<span>Software</span></a> </div>
      <a href="/#/"><img id="logout" src="/www/img/logout.png" /></a>
    </div>
  </body>

</html>
