<html lang="de">
<head>
	<title>{{'loginText' | translate }}</title>
</head>

<body>

	<div id="loLeft">
	<h1 id="titleLogin" style="padding: 15%; padding-top: 20%; z-index: 200; color: white; position: fixed; width: 100px; padding-left: 23%;"> Login </h1>
	<div id="lo">dsa</div>
	</div>
	
<div id="loRight">

	<img id="gif" src="https://dl.dropboxusercontent.com/s/b3lhws79myc9p4g/lego.gif?dl=0"/>
	
	

		<div id="merger">
			<form action="/" id="myLogin" >
				<input type="text"  class="form-control" id="username" ng-model="username" placeholder="username"/><br>
				</p> <input type="password" class="form-control" id="password" ng-model="password" placeholder="password"/><br>
				<button id="loginButton" type="button" class="btn btn-primary" ng-click="getAccess()" >Login</button>	
			</form>
			<br>
			
		<a href="mailto:info@medignition.ch?subject=Kontakt medignition.ch">{{ 'contact' | translate }}</a>
		
	
		
		<div ng-controller="LangCtrl" style="margin-top: 40px;">
			<a href="" ng-click="changeLang('EN')">English</a> /
			<a href="" ng-click="changeLang('DE')">Deutsch</a>
		</div>
		</div>
		
	
	
	</div>


</body>

</html>