<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Museumsverwaltung</title>
	
</head>

<body >


	
	
	
	
	
	<div id="dialogoverlay"></div>
		<div id="dialogbox">
			<div ng-controller="AppCtrl">
				<div id="dialogboxhead"></div>
				<div id="dialogboxbody"></div>
				<div id="dialogboxfoot"></div>
			</div>
		</div>
	
	<div id="container">
	
		<div class="sidebar">
			<ul id="nav">
				<li><a href="/#/museumsverwaltung" class="selected">Home</a></li>
				<li><a href="/#/getbeacons">Beacons</a></li>
				<li><a href="/#/custo" >Audioguide</a></li>
				<li><a href="/#/hilfe" >Hilfe</a></li>
				
			</ul>
		</div>
		
		
		<div class="content">
		<div id="box">
			<div class="box-top">
			Anzahl Exponate
			<div class="box-panel">{{number}}</div>
			</div>
		</div>
		
			
		<h1 id="top">Exponate</h1>
		<p>Hier verwalten Sie Ihre Exponate. </p>		
		
		
		
		
		
		<br><br>
		<input id="productMenuBar" class="form-control has-header"  placeholder="Suche nach Exponatnummer" ng-model="filterer" id="input_ea30_0"></input>
			
		<table class="table" style="margin-top: 20px;">
			<thead>
				<tr>
					<th><button class="tableButton" href="#" ng-click="sortType = 'ide'; sortReverse = !sortReverse">
					Exponat-Nr.<span ng-show="sortType == 'ide' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'ide' && sortReverse" class="fa fa-caret-up"></span> </button></th>
					<th style="width: 30%;">Bild</th>					
					<th style="width: 30%;"><button class="tableButton" href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					Exponatname<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span> </button></th>					
					<th><button class="tableButton" href="#" ng-click="sortType = 'position'; sortReverse = !sortReverse">
					Position <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span> </button></th>
					 </button></th>
					<th><button class="tableButton" href="#" ng-click="sortType = 'theme'; sortReverse = !sortReverse">
					Thema <span ng-show="sortType == 'theme' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'theme' && sortReverse" class="fa fa-caret-up"></span> </button></th>
					<th>Audiofile</th>
					<th><button class="tableButton" href="#" ng-click="sortType = 'aktion'; sortReverse = !sortReverse">
					Aktiv<span ng-show="sortType == 'aktion' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'aktion' && sortReverse" class="fa fa-caret-up"></span> </button></th>
					<th><button class="tableButton" href="#" ng-click="sortType = 'sprache'; sortReverse = !sortReverse">
					Sprache <span ng-show="sortType == 'sprache' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'sprache' && sortReverse" class="fa fa-caret-up"></span> </button></th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			
			
			<tbody>
			<tr>
				<td><input id="ide" class="form-control" placeholder="Nr." ng-model="exponat.ide"  ></td>
				<td><input id="bildURL" class="form-control" placeholder='Bild-URL' ng-model="exponat.bild"></td>
				<td><input id="expoName" class="form-control" ng-model="exponat.name" placeholder="Name"></td>
				<!--<td><input class="form-control" ng-model="exponat.position"></td>-->
				
				<td>
				<select ng-model="exponat.position" class="styled-select semi-square">					
					<option ng-repeat="ma in maData | orderBy:'name'" value="{{ma.name}}"> {{ma.name}} - {{ma.message}}</option>
				</select>
				</td>
				
				
				
				
				<td>
				<select ng-model="exponat.theme" class="styled-select semi-square">					
					<option ng-repeat="thema in themaDaten | orderBy:'nummer'" value='{{thema.nummer}}'>{{thema.nummer}} - {{thema.name}} </option>
				</select>
				</td>				
				<td><input class="form-control" placeholder="Audiofile-URL" ng-model="exponat.audio"></td>
				<td><input type="checkbox" ng-model="exponat.aktion"></td>
				<td>
				<select ng-model="exponat.sprache" class="styled-select semi-square">
					<option calue="EN">Englisch</option>
					<option selected="selected" value="DE">Deutsch</option>
				</select>
				</td>
				<td><button id="hinzufügen" class="btn btn-default" ng-click="addexponat()">Neues Exponat</button></td>
				<td><button id="aendernButton" class="btn btn-dafault" ng-click="update()" style="display:none;">Speichern </button>&nbsp;&nbsp;</td>
			</tr>
			
		
			
			
			<!-- ng-repeat copies content into seperate rows -->
				<tr ng-repeat="exponat in backend | orderBy:sortType:sortReverse | filter: {'ide': filterer}">
				
					<td>{{exponat.ide}}</td>
					<td class="item"><img ng-src="{{exponat.bild}}"></img></td>
					<td>{{exponat.name}}</td>
					<td>{{exponat.position}}</td>
					<td>{{exponat.theme}}</td>
					<td><audio controls  ng-src="{{exponat.audio}}">	</audio> </td>
					<td><input type="checkbox" ng-model="exponat.aktion"></td>
					<td>{{exponat.sprache}}</td>
					<td><button class="btn btn-default" ng-click="edit(exponat.name, exponat.bild)" onclick="window.scrollTo(0,0);">&Auml;ndern </button></td>
					<td><button class="btn btn-danger" ng-click="remove(exponat.name, exponat.bild)">L&ouml;schen</button></td>
				</tr>
			</tbody>
		</table>
		<!--<button class="btn btn-daufalt full" ng-click="top()"> zurück nach oben</button>-->
		<button class="btn btn-daufalt full" onclick="window.scrollTo(0,0)"> zurück nach oben</button>
				</div>
				
		
	</div>
	
	
	<div id="header" ng-controller="exponatCtrl">
	<div class="logo"><a href="/#/museumsverwaltung">Museumsverwaltungs-<span>Software</span></a> </div>	
	<a href="/#/" ><img id="logout"  src="/www/img/logout.png"/></a>	
	<div id="headerOrg" ng-controller="orgCtrl">
		<p style=" font-size: 12px;"> angemeldet als <div style="font-size: 18px; line-height: 2px;">{{org}}</div> </p>
	</div>
	</div>

</body>
</html>