<body ng-app="myApp">


<div class="modal-header" style="background-color: #1c567d;">
<h3 class="modal-title" style="color: white; text-align: center; display:inline-block;">{{'beaconsVer'|translate}}</h3>
<a class="fa fa-close fa-3x" ng-click="close()" style="float:right; display: inline-block; color: white;"></a>
</div>
<div class="modal-body" id="allBeacon" style="background-color: #f2f2f2;">

<div id="rightBeacon">
<img class="medium item" ng-src={{beacon.img}}>
</div>

<div id="leftBeacon">

<table class="table">
		
			<tbody>
			<tr><td class="bold">Name</td><td><input id="ide" class="form-control" ng-model="beacon.shadow.name"  ></td> </tr>
			<tr><td class="bold">Major</td><td><input class="form-control" ng-model="beacon.settings.advertisers.ibeacon[0].major"  ></td> </tr>
			<tr><td class="bold">Minor</td><td><input class="form-control" ng-model="beacon.settings.advertisers.ibeacon[0].minor"  ></td> </tr>
			<tr><td class="bold">{{'sendestarke'|translate}}</td>
			<td><select ng-model="beacon.settings.advertisers.ibeacon[0].power" class="styled-select semi-square">
					<option value="-30"> >1 Meter</option>
					<option value="-20">bis 2 Meter</option>
					<option value="-16">bis 4 Meter</option>
					<option value="-12">bis 6 Meter</option>
					<option value="-8">bis 8 Meter</option>
					<option value="-4">bis 10 Meter</option>
					<option value="0">bis 30 Meter</option>
					<option value="4">bis maximal 70 Meter</option>
			</select></td></tr>
			<tr><td class="bold">{{'inverval'|translate}}</td><td><p ng-model="beacon.settings.advertisers.ibeacon[0].interval">{{'alle'|translate}} {{beacon.settings.advertisers.ibeacon[0].interval}} {{'milisek'|translate}} <span style="color: gray; font-size: 13px;">{{'beschr'|translate}}</span></p><input class="form-control" type="range" min="100" max="10000" ng-model="beacon.settings.advertisers.ibeacon[0].interval"  ></td> </tr>
			<tr><td class="bold">{{'battery'|translate}}</td><td><input class="form-control" ng-model="beacon.status_report.estimated_battery_lifetime" disabled=true/></td>			</tr>
			<tr><td class="bold">{{'color'|translate}}</td><td><input class="form-control" ng-model="beacon.color" disabled=true/></td></tr>

			</tbody>
		</table>
		</div>

</div>

<div class="modal-footer" style="background-color: #1c567d;">


<button class="btn btn-primary" ng-click="update(beacon)" style="float: left;">{{'speichern'|translate}} </button>
<button class="btn btn-default" type="button" ng-click="close()" style="margin-right: 25px;">{{'abbr'|translate}}</button>

</div>


</body>

