<body ng-app="myApp">


<div class="modal-header" style="background-color: #1c567d;">
<h3 class="modal-title" style="color: white; text-align: center; display:inline-block;">{{'expVer'|translate}}</h3>
<a class="fa fa-close fa-3x" ng-click="close()" style="float:right; display: inline-block; color: white;"></a>
</div>
<div class="modal-body" style="background-color: #f2f2f2;">



<table class="table">
		
			<tbody>
			<tr><td class="bold">{{'exhNumLong'|translate}}</td><td><input id="ide" class="form-control" ng-model="exponat.ide"  ></td> </tr>
			
			<tr id="trDe" style="background-color:#d6e0f5"><td class="bold" style="width: 30%">{{'german'|translate}}</td><td>
              <a ng-show="de_expand" ng-click="de_expand = !de_expand;" onclick="document.getElementById('trDe').style='background-color:#f2f2f2'" class="fa fa-caret-up"><p class="standard_p"> {{'verbergen'|translate}}</p></a>
              <a ng-show="!de_expand" ng-click="de_expand = !de_expand;" onclick="document.getElementById('trDe').style='background-color:#d6e0f5'" class="fa fa-caret-down"><p class="standard_p"> {{'anzeigen'|translate}}</p></a></td>
			</tr>			
			<tr id="trDe" ng-show="de_expand" style="background-color:#d6e0f5">
				<td class="light" style="padding: 10px 20px 10px 20px; width: 30%">Name</td>
				<td ><input id="name_de" class="form-control" ng-model="exponat.name_de"/></td>
			</tr>	  
			<tr id="trDe" style="background-color:#d6e0f5" ng-show="de_expand">
				<td class="light" style="padding: 10px 20px 10px 20px; width: 30%">{{'audioUrl'|translate}}</td>
				<td><input class="form-control" ng-change="removDb()" ng-model="exponat.audio_de"><br>
				<audio controls  ng-src={{exponat.audio_de}} />	</td>
			</tr>
			<tr id="trDe" style="background-color:#d6e0f5" ng-show="de_expand">
				<td class="light" style="padding: 10px 20px 10px 20px; width: 30%">{{'expDesc'|translate}}</td>
				<td><textarea cols="70" style="max-width:700px;" class="form-control" ng-model="exponat.beschreibung_de" /></td>
			</tr>
		  
		  
			<tr id="trEn" style="background-color:#f2f2f2"><td class="bold">{{'englisch'|translate}}</td><td>
				<a ng-show="en_expand" ng-click="en_expand = false;" onclick="document.getElementById('trEn').style='background-color:#f2f2f2'" class="fa fa-caret-up"><p class="standard_p"> {{'verbergen'|translate}}</p></a>
				<a ng-show="!en_expand" ng-click="en_expand = true;" onclick="document.getElementById('trEn').style='background-color:#d6e0f5'" class="fa fa-caret-down"><p class="standard_p"> {{'anzeigen'|translate}}</p></a></td>
			</tr>			
			<tr ng-show="en_expand" style="background-color:#d6e0f5">
				<td class="light" style="padding: 10px 20px 10px 20px;">Name</td>
				<td ><input class="form-control" ng-model="exponat.name_en"/></td>
			</tr>	  
			<tr ng-show="en_expand" style="background-color:#d6e0f5">
				<td style="padding: 10px 20px 10px 20px;" class="light">{{'audioUrl'|translate}}</td>
				<td><input class="form-control" ng-change="removDb()" ng-model="exponat.audio_en"><br>
				<audio controls  ng-src={{exponat.audio_en}} /></td>
			</tr>
			<tr style="background-color:#d6e0f5" ng-show="en_expand">
				<td class="light" style="padding: 10px 20px 10px 20px;">{{'expDesc'|translate}}</td>
				<td><textarea cols="70" style="max-width:700px;" class="form-control" ng-model="exponat.beschreibung_en" /></td>
			</tr>
			

			<tr><td class="bold">{{'imgUrl'|translate}}</td><td><input id="bildURL" class="form-control" ng-change="removDb()" ng-model="exponat.bild"/><br> <img class="medium item" ng-src={{exponat.bild}} ></td></tr>
			<tr><td class="bold">Position</td><td>
				<select ng-model="exponat.position" class="styled-select semi-square full">					
					<option ng-repeat="ma in maData | orderBy:'name'" value="{{ma.name}}"> {{ma.name}} - {{ma.message}}</option>
				</select>
			</td></tr>
			<tr><td class="bold">{{'themeNr'|translate}}</td><td>
				<select ng-model="exponat.theme" class="styled-select semi-square full">					
					<option ng-repeat="thema in themaDaten | orderBy:'nummer'" value='{{thema.nummer}}'>{{thema.nummer}} - {{thema.name}} </option>
				</select>
			</td></tr>

			
			
			<tr><td class="bold">{{'activ'|translate}}</td><td><input type="checkbox" ng-model="exponat.aktion"></td></tr>
			</tbody>
		</table>

</div>

<div class="modal-footer" style="background-color: #1c567d;">


<button id="buttonDelete" class="btn btn-danger" type="button" ng-click="remove(exponat)" style="float:right">{{'deletee'|translate}}</button>
<button id="buttonAdd" class="btn btn-default" type="button" ng-click="addexponat(exponat)" style="display: none; float: left;">{{'hinzu'|translate}}</button>
<button id="buttonModify" class="btn btn-primary" ng-click="update(exponat)" style="float: left;">{{'speichern'|translate}} </button>
<button class="btn btn-default" type="button" ng-click="close()" style="margin-right: 25px;">{{'abbr'|translate}}</button>

</div>


</body>

