<body ng-app="myApp">


<div class="modal-header" style="background-color: #1c567d;">
<h3 class="modal-title" style="color: white; text-align: center; display:inline-block;">Beacon verwalten</h3>
<a class="fa fa-close fa-3x" ng-click="close()" style="float:right; display: inline-block; color: white;"></a>
</div>
<div class="modal-body" id="allBeacon" style="background-color: #f2f2f2;">

<div id="rightBeacon">
<img class="medium item" ng-src={{beacon.img}}>
</div>

<div id="leftBeacon">

<table class="table">
		
			<tbody>
			<tr><td class="bold">Bezeichnung / Name</td><td><input id="ide" class="form-control" ng-model="beacon.shadow.name"  ></td> </tr>
			<tr><td class="bold">Major</td><td><input class="form-control" ng-model="beacon.settings.advertisers.ibeacon[0].major"  ></td> </tr>
			<tr><td class="bold">Minor</td><td><input class="form-control" ng-model="beacon.settings.advertisers.ibeacon[0].minor"  ></td> </tr>
			<tr><td class="bold">Sendestärke</td>
			<td><select ng-model="beacon.settings.advertisers.ibeacon[0].power" class="styled-select semi-square">
					<option>-30</option>
					<option>-20</option>
					<option>-20</option>
					<option>-16</option>
					<option>-12</option>
					<option>-8</option>
					<option>-4</option>
					<option>0</option>
					<option>4</option>
			</select></td>
			</tr>
			<tr><td class="bold">Sendeinvervall</td><td><p ng-model="beacon.settings.advertisers.ibeacon[0].interval">alle {{beacon.settings.advertisers.ibeacon[0].interval}} Milisekunden <span style="color: gray; font-size: 13px;">(zwischen 100 und 10'000)</span></p><input class="form-control" type="range" min="100" max="10000" ng-model="beacon.settings.advertisers.ibeacon[0].interval"  ></td> </tr>
			<tr><td class="bold">Batterielaufzeit in Tagen</td><td><input class="form-control" ng-model="beacon.status_report.estimated_battery_lifetime" disabled=true/></td>			</tr>
			<tr><td class="bold">Farbe</td><td><input class="form-control" ng-model="beacon.color" disabled=true/></td></tr>

			</tbody>
		</table>
		</div>

</div>

<div class="modal-footer" style="background-color: #1c567d;">


<button class="btn btn-primary" ng-click="update(beacon)" style="float: left;">Speichern </button>
<button class="btn btn-default" type="button" ng-click="close()" style="margin-right: 25px;">Abbrechen</button>

</div>


</body>

